*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Prompt', sans-serif;
}

.global{
    display: flex;
    justify-content: center;
}

.global > section,
.global > header,
.global > footer{
    flex: 0 1 var(--largeur-section);
    padding: var(--hauteur-padding) var(--largeur-padding);
    background-color: rgba(0, 0, 0, var(--transparence-section));
}

#entete, #footer{
    min-height: 20vh;
}

.global > .hero{
    flex: 1;
}

#entete, #footer{
    min-height: 20vh;
}

#menu__entete{
   position: relative;
   background-color: var(--couleur-arriere-menu); 
}

#entete{
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-avant-entete);
    position: relative;
    min-height: 80vh;
}

#accueil{
    background-color: var(--couleur-arriere-accueil);
    color: var(--couleur-avant-accueil);
    padding-bottom: 1rem;
}
h2, #accueil p{
    margin-bottom: 1rem;
}
#accueil p{
    padding: 1rem;
    border-radius: 3px;
}
.boite1{
    background-color: var(--couleur-boite1);
    color: var(--couleur-boite2);
}
.boite2{
    background-color: var(--couleur-boite2);
    color: var(--couleur-boite1);
}

#evenement{
    position: relative;
    color: var(--couleur-avant-evenement);
    padding-top: 1rem;
}
#galerie{
    background-color: var(--couleur-arriere-galerie);
    color: var(--couleur-avant-galerie);
    padding-top: 1rem;
}
#footer{
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-avant-footer);
    position: relative;
    padding-top: 3rem;
}