:root {
    --couleur-arriere-entete : #aaa;
    --couleur-arriere-accueil : #0f0;
    --couleur-arriere-evenement : #f00;
    --couleur-arriere-galerie : #00f;
    --couleur-arriere-footer : #fff;
}
