.categories{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}


.destination{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    align-items: stretch;
    flex-direction: row;
}

.carte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 calc(1100px/5);
    // min-height: 60vh;
    border-radius: 5px;
    background-color: var(--couleur-boite1);
    color: var(--couleur-boite2);
    padding: 0.5rem;
}

.carte a{
    // color: rgba(255, 255, 255, 0.75);
}

#accueil .info-carte{
    padding: 1rem;
}

#accueil .info-carte p{
    margin: 0rem;
    padding: 0.1rem;
}


.post-categories{// ul de la liste des categories
    display: flex;
    list-style-type: none;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-categories li{
    background-color: hsl(40, 100%, 30%);
    border-radius: 10px;
    padding: 0.25rem;
} 


.categories h3,
.categories p{
    margin-bottom: 1rem;
}

.categories p:last-child{
    margin-top: 1rem;
    margin-bottom: 0rem;
}