.cours{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    align-items: flex-start;
    flex-direction: row;
}

.carte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 20%;
}

#accueil .info-carte p{
    margin: 0rem;
    padding: 0.1rem;
}