/*VARIABLES SASS*/

$--clr-bleu-pale    : hsl(220, 100%, 85%);
$--clr-bleu-leger  : hsl(220, 100%, 60%);
$--clr-bleu-moyen  : hsl(220, 100%, 30%);    
$--clr-bleu-fonce  : hsl(220, 100%, 15%);


$--clr-orange-pale: hsl(40, 100%, 85%);
$--clr-orange-leger  : hsl(40, 100%, 50%);
$--clr-orange-moyen  : hsl(40, 100%, 30%);
$--clr-orange-fonce  : hsl(40, 100%, 15%);

$--clr-rouge-pale: hsl(10, 100%, 85%);
$--clr-rouge-leger  : hsl(10, 100%, 50%);
$--clr-rouge-moyen  : hsl(10, 100%, 30%);
$--clr-rouge-fonce  : hsl(10, 100%, 15%);

$--clr-vert-pale: hsl(70, 100%, 85%);
$--clr-vert-leger  : hsl(70, 100%, 50%);
$--clr-vert-moyen  : hsl(70, 100%, 30%);
$--clr-vert-fonce  : hsl(70, 100%, 15%);

/*À partir des variables de couleurs de la palette choisie, on crée un mapping en catégorisant les différentes couleurs*/
/*Ce map contient un map principal et plusieurs sous-map*/
/*MAP*/

$defaut: (
    primaire : (
        100: $--clr-bleu-pale,
        200: $--clr-bleu-leger,
        300: $--clr-bleu-moyen,
        400: $--clr-bleu-fonce
    ),
    secondaire : (
        100: $--clr-orange-pale,
        200: $--clr-orange-leger,
        300: $--clr-orange-moyen,
        400: $--clr-orange-fonce
    ),
    ternaire : (
        100: $--clr-rouge-pale,
        200: $--clr-rouge-leger,
        300: $--clr-rouge-moyen,
        400: $--clr-rouge-fonce
    ),
    vert : (
        100: $--clr-vert-pale,
        200: $--clr-vert-leger,
        300: $--clr-vert-moyen,
        400: $--clr-vert-fonce
    )
);

/*agencement de couleur*/
$agencement-couleur :(
    primaire: ($--clr-orange-moyen, ($--clr-orange-leger, $--clr-orange-moyen)),
    secondaire: ($--clr-bleu-fonce, $--clr-bleu-leger),
    ternaire: ($--clr-rouge-fonce, $--clr-rouge-pale),
    vert: ($--clr-vert-fonce, $--clr-vert-pale)
);

:root {

    /*Calcul des teintes*/
    --u1 :37; // couleur initiale
    --u2 : calc(var(--u1) + 180);//couleur complémentaire
    // --u3 : calc(var(--u2) - 30);//couleur analogue gauche
    // --u4 : calc(var(--u2) + 30);//couleur analogue droite

    // /*Calcul de la saturation*/
    // --s-arriere : 75%;
    // --s-avant : 100%;
    // /*Calcul de la luminosite*/
    // --l-arriere: 50%;
    // --l-avant: 30%;
    
    //  Couleur Monochrome
        --couleur-arriere-menu : hsl(var(--u1), 100%, 30%);

        --couleur-arriere-entete : hsl(var(--u1), 90%, 47%);
        --couleur-arriere-accueil : hsl(var(--u1), 90%, 37%);
        --couleur-arriere-evenement : hsl(var(--u1), 90%, 32%);
        --couleur-arriere-galerie : hsl(var(--u1), 90%, 27%);
        --couleur-arriere-footer : hsl(var(--u1), 90%, 47%);
        

        
        --couleur-arriere-diagonale : hsl(var(--u2), 90%, 32%);


        --couleur-bouton1 : hsl(var(--u2), 100%, 73%);
        --couleur-bouton2 : hsl(var(--u2), 100%, 52%);

        --couleur-bouton1-hover : hsl(var(--u1), 100%, 73%);
        --couleur-bouton2-hover : hsl(var(--u1), 100%, 52%);

        --couleur-bouton-texte : hsl(var(--u1), 100%, 54%);
        --couleur-bouton-texte-hover : hsl(var(--u2), 100%, 54%);

        // Couleur monochrome
        --couleur-avant-entete : hsl(var(--u1), 100%, 30%);
        --couleur-avant-accueil : hsl(var(--u1), 100%, 75%);
        --couleur-avant-evenement : hsl(var(--u1), 100%, 45%);
        --couleur-avant-galerie : hsl(var(--u1), 100%, 40%);
        --couleur-avant-footer : hsl(var(--u1), 100%, 30%);

    --texte-taille-titre: clamp(2.5rem, 0.625rem + 6vw, 4.375rem);
    --texte-taille-tres-grand: clamp(2.25rem, 1rem + 4vw, 3.5rem);
    --texte-taille-grand: clamp(1.25rem, 0.5rem + 2.4vw, 2rem);
    --texte-taille-moyen: clamp(1.125rem, 0.75rem + 1.2vw, 1.5rem);
    --texte-taille-petit: clamp(1rem, 0.75rem + 0.8vw, 1.25rem);
    --texte-taille-tres-petit: clamp(0.75rem, 0.5rem + 0.8vw, 1rem);

    --hauteur-padding: 3rem;
    --largeur-padding: 1rem;
    --largeur-section: 1100px;
}


/*VARIABLES LOCALES*/

.carte{
    --_couleur-arriere: hsl(var(--u1),100%, 85% );

    // Couleur boite
    --couleur-boite1 : hsl(var(--u1), 100%, 25%);
    --couleur-boite2 : hsl(var(--u1), 25%, 100%);
}

#entete{
    --_couleur-arriere-vague :var(--couleur-arriere-entete); 
}

#footer{
    --_couleur-arriere-vague :var(--couleur-arriere-galerie);
}
